*{

    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

header {
    background-color: #171616;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header .name {
    display: flex;
    margin-left: 50px;
}

header .name .f1 {
    color: rgba(174, 174, 255, 0.564);
    margin-right: 15px;
}

header .name .f2 {
    color: rgba(255, 255, 255, 0.679);
}

header .links { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links .projects, .about, .contact {
    margin-right: 80px;
}

header .links a {
    color: rgba(255, 255, 255, 0.679);
    font-size: 22px;
}

header .links .projects a:hover, .about a:hover {
    color: rgba(174, 174, 255, 0.564);
}

header .links .contact {
    background-color: rgba(174, 174, 255, 0.564);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

header .links .contact:hover {
    background-color: rgba(255, 255, 255, 0.679);
    color: rgba(174, 174, 255, 0.564);
}

.container {
    background-color: #262629;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .img-div, .sub-div {
    height: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.img-div {
    align-items: flex-end; 
}

.img-div img {
    
    max-width: 300px;
    border-radius: 150px;
}

.sub-div {
    justify-content: flex-start;
    align-items: center; 
}

.sub-div p {
    color: rgba(255, 255, 255, 0.679);
    font-size: 24px;
    text-align: center;
}

.ico-links i {
    margin-top: 10px;
    font-size: 40px;
    margin-right: 10px;
    margin-left: 10px;
    color: rgba(174, 174, 255, 0.564);
}

.ico-links i:hover {
    color: rgba(255, 255, 255, 0.679);
    cursor: pointer;
}

.container2 {
    background-color: #262629;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.awards, .skills {
    background-color: #383737;
    color: rgba(255, 255, 255, 0.679);
    width: 40%;
    height: 80vh;
    border-radius: 40px;
    border: 4px solid rgba(255, 255, 255, 0.679);
}

.awards h1, .skills h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 44px;
}

.awards h2, .skills h2 {
    margin-left: 20px;
    font-size: 36px;
}

.awards span, .skills span {
    margin-top: 10px;
    margin-left: 60px;
    display: flex;
    align-items: center;
}

.skills span {
    margin-top: 20px;
}

.awards span i, .skills span i {
    margin-right: 10px;
    font-size: 30px;
}

.awards span p, .skills span p {
    font-size: 28px;
}

.skills span i {
    font-size: 40px;
}

.skills span img {
    margin-right: 10px;
    max-width: 40px;
}