*{

    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;

}

.container {

    background-color: #1f2124;
    height: 300vh;
    width: 100%;
    align-items: center;

}

.navigation {

    background-color: #2053a0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;

}

.navigation img {

    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 40px;

}

.links {

    display: flex;
    list-style: none;
    align-items: center;

}

.links li {

    margin-right: 100px;
    color: aliceblue;
    font-size: 22px;
    

}

.links li a {

    text-decoration: none;
    color: aliceblue;

}

.links li a:hover {

    color: #5b8dd8;

}

.down {

    margin-right: 60px;
    font-size: 35px;
    color: aliceblue;

}

.down:hover {

    color: #5b8dd8;

}

.preview {

    justify-content: space-between;
    margin-top: 100px;
    margin-left: 40px;
    display: flex;

}

.view-left {

    width: 50%;

}

.view-left h1 {

    color: aliceblue;

}

.view-left img {

    width: 300px;
    height: 300px;
    margin-top: 100px;

}

.view-right {

    background-color: aliceblue;
    width: 360px;
    height: 470px;
    margin-right: 100px;
    border-radius: 20px;

}

.front-text {

    margin-top: 30px;
    margin-left: 20px;
    font-size: 22px;

}

.view-body {

    margin-top: 30px;
    margin-left: 40px;

}

.about-body{

    display: flex;
    align-items: center;
    font-size: 22px;

}

.about-body p {

    margin-left: 10px;

}

.work-body {

    display: flex;
    margin-top: 30px;
    font-size: 22px;
    align-items: center;

}

.work-body p {

    margin-left: 10px;

}

.contact-body {

    display: flex;
    margin-top: 30px;
    font-size: 22px;
    align-items: center;

}

.contact-body p {

    margin-left: 10px;

}

.links-body {

    display: flex;
    margin-top: 30px;
    font-size: 22px;
    align-items: center;

}

.links-body p {

    margin-left: 10px;

}

.bottom-text {

    margin-top: 40px;
    margin-left: 20px;
    font-size: 22px;

}

.work-body-bottom {

    display: flex;
    margin-top: 30px;
    font-size: 22px;
    align-items: center;
    margin-left: 40px;

}

.work-body-bottom p {

    margin-left: 10px;
    

}

.about {

    margin-top: 200px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;

}

.about-left {

    background-color: aliceblue;
    height: 500px;
    width: 450px;
    border-radius: 20px;
    margin-top: 50px;
    

}

.about-left h1 {

    margin-top: 20px;
    margin-left: 20px;

}

.about-left-first {

    margin-top: 50px;

}

.about-left p {

    margin-left: 20px;
    font-size: 25px;

}

.note {

    background-color: #4785e1;
    color: aliceblue;
    margin-top: 140px;
    width: 400px;
    margin-left: 25px;
    height: 40px;
    border-radius: 8px;

}

.note p {

    margin-left: 40px;

}

.about-right {

    margin-right: 100px;
    background-color: aliceblue;
    width: 450px;
    height: 600px;
    border-radius: 16px;

}

.about-right-first {

    margin-left: 25px;
    margin-top: 25px;
    font-size: 30px;

}

.about-java {

    align-items: center;
    display: flex;
    margin-top: 25px;
    margin-left: 40px;
    font-size: 30px;

}

.about-java p {

    margin-left: 10px;

}

.about-c {

    margin-top: 10px;
    margin-left: 40px;
    align-items: center;
    display: flex;
    font-size: 30px;

}

.about-c img {

    width: 30px;
    height: 30px;

}

.about-c p {

    margin-left: 10px;

}

.combo-web {

    margin-top: 10px;
    margin-left: 40px;
    align-items: center;
    display: flex;
    font-size: 30px;

}

.combo-web p {

    margin-left: 10px;

}

.about-right-informations {

    margin-left: 25px;
    margin-top: 30px;
    font-size: 30px;

}

.about-location {

    margin-top: 30px;
    margin-left: 40px;
    align-items: center;
    display: flex;
    font-size: 30px;

}

.about-location p {

    margin-left: 10px;

}

.about-education {

    margin-top: 10px;
    margin-left: 40px;
    align-items: center;
    display: flex;
    font-size: 30px;

}

.about-education p {

    margin-left: 10px;

}   

.about-language {

    margin-top: 10px;
    margin-left: 40px;
    align-items: center;
    display: flex;
    font-size: 30px;

}

.about-language p {

    margin-left: 10px;

}

.projects {

    margin-top: 100px;
    margin-left: 200px;
    width: 1000px;
    height: 550px;
    display: flex;
    justify-content: space-around;
}

.et {

    height: 550px;
    width: 380px;
    background-color: aliceblue;
    border-radius: 14px;

}

.et-mod .et img {

    width: 340px;
    height: 170px;
    margin-left: 20px;
    margin-top: 20px;
   
    
    

}

.lc {

    height: 550px;
    margin-left: 80px;
    width: 380px;
    background-color: aliceblue;
    border-radius: 14px;

}

.lc-mod .lc img{

    width: 340px;
    margin-top: 20px;
    margin-left: 20px;
    height: 170px;

}

.et h2 {

    margin-left: 20px;
    margin-top: 10px;

}

.et p {

    margin-top: 5px;
    margin-left: 20px;
    font-size: 22px;
    margin-right: 20px;

}

.et button {

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    width: 340px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #2053a0;
    color: aliceblue;
    border: none;
    border-radius: 12px;

}

.et button:hover {

    background-color: #4785e1;

}

.et-mod img {

    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 150px;

}

.lc-mod img {

    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 230px;

}

.lc h2 {

    margin-left: 20px;
    margin-top: 10px;

}

.lc p {

    margin-top: 5px;
    margin-left: 20px;
    font-size: 22px;
    margin-right: 20px;

}

.lc button {

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    width: 340px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #2053a0;
    color: aliceblue;
    border: none;
    border-radius: 12px;

}

.lc button:hover {

    background-color: #4785e1;

}
